name: Build and deploy

on:
  push:
    branches:
      - master

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: '0.154.4'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install Hugo
        env:
          HUGO_TAR: hugo_extended_${{ env.HUGO_VERSION }}_linux-amd64.tar.gz
        run: |
          curl -sLJO "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/${HUGO_TAR}"
          mkdir -p "${HOME}/.local/hugo"
          tar -C "${HOME}/.local/hugo" -xf "${HUGO_TAR}"
          rm "${HUGO_TAR}"

          echo "${HOME}/.local/hugo" >> "${GITHUB_PATH}"

      - name: Verify installations
        run: |
          echo "Hugo: $(hugo version)"

      - name: Build the site
        run: |
          hugo build

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          path: ./public

